@charset "utf-8";

$theme: (
  light: #fff,
  dark: #0a1929
);

$color: (
  primary: #64ffda,
  secondary: #ccd6f6,
  accent: #ff4081,
);

$font-color: (
  light: #0a1929,
  dark: #fff,
  primary: #64ffda,
  secondary: #ccd6f6,
  accent: #ff4081,
);