@charset "utf-8";

$theme: (
  light: #fff,
  dark: #1a1a1a
);

$color: (
  primary: #42b883,
  secondary: #35495e,
  accent: #ff4081,
);

$font-color: (
  light: #0a1929,
  dark: #fff,
  primary: #42b883,
  secondary: #35495e,
  accent: #ff4081,
);